[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-aitizhijia
Exec=sailfish-qml harbour-aitizhijia
Name=ITHouse
Name[zh_CN]=挨踢之家
